@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoLocal";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: bold;
}

body {
  font-family: "RobotoLocal";
}

img {
  width: 100%;
  height: auto;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 35px;
}

#global_nav {
  width: 60px;
  height: 60px;
  background-color: blueviolet;
  position: relative;
  display: block;
}

#global_nav ul {
  display: none;
  align-items: center;
  height: 80px;
}

#global_nav .line {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 29px;
  left: 15px;
}

#global_nav .line:before {
  top: -10px;
}

#global_nav .line:after {
  top: 10px;
}

#global_nav .line:before,
#global_nav .line:after {
  content: "";
  position: absolute;
  background-color: white;
  width: 30px;
  height: 2px;
}

#global_nav ul li {
  text-transform: capitalize;
  font-size: 20px;
  margin-left: 20px;
}

#global_nav ul li:first-child {
  margin-left: 0;
}

#global_nav ul li.current {
  border-bottom: 2px solid blueviolet;
}

.footer {
  background-color: #333;
  padding: 0 20px;
}

.site-nav__item:first-child {
  margin-top: 0;
}

.site-nav__item a {
  display: block;
  text-transform: capitalize;
  font-size: 20px;
  color: white;
  border-bottom: 1px solid gray;
  padding: 20px 0;
}

.copyright {
  padding: 40px 0;
  font-size: 16px;
  color: white;
}

@media screen and (min-width: 768px) {
  #header {
    padding: 0 20px;
  }
  
  #global_nav {
    width: auto;
    height: auto;
    background: none;
  }
  
  #global_nav ul {
    align-items: center;
    height: 80px;
    display: flex;
  }
  
  #global_nav .line {
    display: none;
  }
  
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  .site-nav {
    display: flex;
    flex-direction: row;
    border-right: 1px solid gray;
  }
  
  .site-nav__item a {
    margin-top: 0;
    padding: 0 20px;
    border-bottom: 0;
    border-left: 1px solid gray;
  }
  
  .copyright {
    margin-top: 0;
  }
}